<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id.</th>
    <td
      mat-cell
      *matCellDef="let element"
      class="cursor-pointer"
      (click)="onClickRow(element)"
    >
      {{ element.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Produto</th>
    <td
      mat-cell
      *matCellDef="let element"
      class="cursor-pointer"
      (click)="onClickRow(element)"
    >
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="qtd">
    <th mat-header-cell *matHeaderCellDef>Quantidade</th>
    <td
      mat-cell
      *matCellDef="let element"
      class="cursor-pointer"
      (click)="onClickRow(element)"
    >
      {{ element.qtd }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="width: 80px"></th>
    <td
      style="width: 80px"
      mat-cell
      *matCellDef="let element"
      class="cursor-pointer"
      (click)="onDeleteItem(element)"
    >
      <mat-icon class="icon-size-20">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
